<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
    <mat-drawer-container
        class="bg-card h-full flex-auto dark:bg-transparent"
        (backdropClick)="onBackdropClicked()"
    >
        <!-- Drawer -->
        <mat-drawer
            class="w-full dark:bg-gray-900 md:w-160"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer
        >
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">
            <!-- Main -->
            <div class="flex-auto">
                <!-- Header -->
                <div
                    class="flex flex-auto flex-col justify-between border-b px-6 py-8 sm:flex-row md:flex-col md:px-8"
                >
                    <!-- Title -->
                    <div>
                        <div
                            class="text-4xl font-extrabold leading-none tracking-tight"
                        >
                            Articles
                        </div>
                        <div class="text-secondary ml-0.5 font-medium">
                            @if (articlesCount > 0) {
                                {{ articlesCount }}
                            }
                            {{
                                articlesCount
                                    | i18nPlural
                                        : {
                                              '=0': 'pas de articles',
                                              '=1': 'article',
                                              other: 'articles',
                                          }
                            }}
                        </div>
                    </div>

                    <!-- Main actions -->
                    <div class="mt-4 flex items-center sm:mt-0 md:mt-4">
                        <!-- Search -->
                        <div class="flex-auto">
                            <mat-form-field
                                class="fuse-mat-dense fuse-mat-rounded w-full min-w-50"
                                subscriptSizing="dynamic"
                            >
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="
                                        'heroicons_solid:magnifying-glass'
                                    "
                                ></mat-icon>
                                <input
                                    matInput
                                    [formControl]="searchInputControl"
                                    [autocomplete]="'off'"
                                    [placeholder]="'Rechercher des articles'"
                                />
                            </mat-form-field>
                        </div>
                        <!-- Add article button -->
                        <!-- <button
                            class="ml-4"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="createArticle()"
                        >
                            <mat-icon
                                [svgIcon]="'heroicons_outline:plus'"
                            ></mat-icon>
                            <span class="ml-2 mr-1">Ajouter</span>
                        </button> -->
                    </div>
                </div>

                <!-- Articles list -->
                <div class="relative">
                    @if (articles$ | async; as articles) {
                        @if (articles.length) {
                            @for (
                                article of articles;
                                track trackByFn(i, article);
                                let i = $index
                            ) {
                                <!-- if article doesnt have a name, dont show him-->
                                @if (article.designation) {
                                <!-- Group -->
                                @if (
                                    i === 0 ||
                                    article.designation.charAt(0) !==
                                        articles[i - 1].designation.charAt(0)
                                ) {
                                    <div
                                        class="text-secondary sticky top-0 z-10 -mt-px border-b border-t bg-gray-50 px-6 py-1 font-medium uppercase dark:bg-gray-900 md:px-8"
                                    >
                                        {{ article.designation.charAt(0) }}
                                    </div>
                                }
                                <!-- Article -->
                                <a
                                    class="z-20 flex cursor-pointer items-center border-b px-6 py-4 md:px-8"
                                    [ngClass]="{
                                        'dark:hover:bg-hover hover:bg-gray-100':
                                            !selectedArticle ||
                                            selectedArticle.id !== article.id,
                                        'bg-primary-50 dark:bg-hover':
                                            selectedArticle &&
                                            selectedArticle.id === article.id,
                                    }"
                                    [routerLink]="['./', article.id]"
                                >
                                    <div class="ml-4 min-w-0">
                                        <div
                                            class="truncate font-medium leading-5"
                                        >
                                            {{ article.designation }}
                                        </div>
                                        <div
                                            class="text-secondary truncate leading-5"
                                        >
                                            {{ article.frn }}
                                        </div>
                                    </div>
                                </a>
                            }
                            }
                        } @else {
                            <div
                                class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16"
                            >
                                Il n'y a pas de articles !
                            </div>
                        }
                    }

                    <!-- No articles -->
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
