{
    "printWidth": 80,
    "semi": true,
    "bracketSameLine": false,
    "trailingComma": "es5",
    "tabWidth": 2,
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ]
}
