<div class="flex min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div class="bg-card">
        <div class="mx-auto flex w-full max-w-screen-xl flex-col px-6 sm:px-8">
            <div
                class="my-8 flex min-w-0 flex-auto flex-col sm:my-12 sm:flex-row sm:items-center"
            >
                <!-- Avatar and name -->
                <div class="flex min-w-0 flex-auto items-center">
                    <div class="h-16 w-16 flex-0 overflow-hidden rounded-full">
                        <img
                            class="h-full w-full object-cover"
                            src="images/avatars/default.jpg"
                        />
                    </div>
                    <div class="ml-4 flex min-w-0 flex-col">
                        <ng-container *transloco="let t">
                            <div
                                class="truncate text-2xl font-semibold leading-7 tracking-tight md:text-5xl md:leading-snug"
                            >
                                {{ t('Bienvenue') }}, {{currentUser.nom}}!
                            </div>
                        </ng-container>
                        <!-- <div class="flex items-center">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:bell'"
                            ></mat-icon>
                            <div
                                class="text-secondary ml-1.5 truncate leading-6"
                            >
                                You have 2 new messages and 15 new tasks
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- Actions -->
                <div class="mt-6 flex items-center space-x-3 sm:ml-2 sm:mt-0">
                    <button mat-flat-button [color]="'primary'"  (click)="settings()">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:cog-8-tooth'"
                        ></mat-icon>
                        <span class="ml-2">Paramètres</span>
                    </button>
                </div>
            </div>
            <!-- Project selector -->
            <!-- <div
                class="bg-default relative flex cursor-pointer self-start overflow-hidden rounded-t-xl border border-b-0 pb-1 pl-5 pr-4 pt-2"
                matRipple
                [matMenuTriggerFor]="projectsMenu"
            >
                <div class="flex items-center">
                    <div class="overflow-hidden">
                        <div class="truncate font-medium leading-6">
                            {{ selectedProject }}
                        </div>
                    </div>
                    <div class="flex items-center justify-center pl-2">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_mini:chevron-down'"
                        ></mat-icon>
                    </div>
                </div>
                <mat-menu #projectsMenu="matMenu" [xPosition]="'before'">
                    <button
                        mat-menu-item
                        (click)="selectedProject = 'ACME Corp. Backend App'"
                    >
                        ACME Corp. Backend App
                    </button>
                    <button
                        mat-menu-item
                        (click)="selectedProject = 'ACME Corp. Frontend App'"
                    >
                        ACME Corp. Frontend App
                    </button>
                    <button
                        mat-menu-item
                        (click)="selectedProject = 'Creapond'"
                    >
                        Creapond
                    </button>
                    <button
                        mat-menu-item
                        (click)="selectedProject = 'Withinpixels'"
                    >
                        Withinpixels
                    </button>
                </mat-menu>
            </div> -->
        </div>
    </div>

    <!-- Main -->
    <div class="-mt-px flex-auto border-t pt-4 sm:pt-6">
        <div class="mx-auto w-full max-w-screen-xl">
            <!-- Tabs -->
            <mat-tab-group
                class="sm:px-2"
                mat-stretch-tabs="false"
                [animationDuration]="'0'"
            >
                <!-- Home -->
                <mat-tab label="Home">
                    <ng-template matTabContent>
                        <div
                            class="grid w-full min-w-0 grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4"
                        >
                            <!-- Summary -->
                            <div
                                class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow"
                            >
                                <div class="flex items-start justify-between">
                                    <div
                                        class="truncate text-lg font-medium leading-6 tracking-tight"
                                    >
                                        Solde
                                    </div>
                                    <div class="-mr-3 -mt-2 ml-2">
                                        <button
                                            mat-icon-button
                                            [matMenuTriggerFor]="summaryMenu"
                                        >
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="
                                                    'heroicons_mini:ellipsis-vertical'
                                                "
                                            ></mat-icon>
                                        </button>
                                        <mat-menu #summaryMenu="matMenu">
                                            <button mat-menu-item>
                                                Yesterday
                                            </button>
                                            <button mat-menu-item>
                                                2 days ago
                                            </button>
                                            <button mat-menu-item>
                                                3 days ago
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div class="mt-2 flex flex-col items-center">
                                    <div
                                        class="text-7xl font-bold leading-none tracking-tight text-blue-500 sm:text-8xl">
                                        {{solde}}
                                    </div>
                                    <div
                                        class="text-lg font-medium text-blue-600 dark:text-blue-500">
                                        TND
                                    </div>
                                </div>
                            </div>
                            <!-- Overdue -->
                            <div
                                class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow"
                            >
                                <div class="flex items-start justify-between">
                                    <div
                                        class="truncate text-lg font-medium leading-6 tracking-tight"
                                    >
                                        Commandes en cours
                                    </div>
                                    <div class="-mr-3 -mt-2 ml-2">
                                        <button
                                            mat-icon-button
                                            [matMenuTriggerFor]="overdueMenu"
                                        >
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="
                                                    'heroicons_mini:ellipsis-vertical'
                                                "
                                            ></mat-icon>
                                        </button>
                                        <mat-menu #overdueMenu="matMenu">
                                            <button mat-menu-item>
                                                Yesterday
                                            </button>
                                            <button mat-menu-item>
                                                2 days ago
                                            </button>
                                            <button mat-menu-item>
                                                3 days ago
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div class="mt-2 flex flex-col items-center">
                                    <div
                                        class="text-7xl font-bold leading-none tracking-tight text-red-500 sm:text-8xl"
                                    >
                                        {{commandeCount}}
                                    </div>
                                    <div
                                        class="text-lg font-medium text-red-600 dark:text-red-500"
                                    >
                                        Commandes
                                    </div>
                                </div>
                            </div>
                            <!-- Issues -->
                            <div
                                class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow"
                            >
                                <div class="flex items-start justify-between">
                                    <div
                                        class="truncate text-lg font-medium leading-6 tracking-tight"
                                    >
                                        Prochaine échance
                                    </div>
                                    <div class="-mr-3 -mt-2 ml-2">
                                        <button
                                            mat-icon-button
                                            [matMenuTriggerFor]="issuesMenu"
                                        >
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="
                                                    'heroicons_mini:ellipsis-vertical'
                                                "
                                            ></mat-icon>
                                        </button>
                                        <mat-menu #issuesMenu="matMenu">
                                            <button mat-menu-item>
                                                Yesterday
                                            </button>
                                            <button mat-menu-item>
                                                2 days ago
                                            </button>
                                            <button mat-menu-item>
                                                3 days ago
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div class="mt-2 flex flex-col items-center">
                                    <div
                                        class="text-7xl font-bold leading-none tracking-tight text-amber-500 sm:text-8xl"
                                    >
                                        24
                                    </div>
                                </div>
                            </div>
                            <!-- Features -->
                            <div
                                class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow"
                            >
                                <div class="flex items-start justify-between">
                                    <div
                                        class="truncate text-lg font-medium leading-6 tracking-tight"
                                    >
                                        Plus de 
                                    </div>
                                    <div class="-mr-3 -mt-2 ml-2">
                                        <button
                                            mat-icon-button
                                            [matMenuTriggerFor]="featuresMenu"
                                        >
                                            <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="
                                                    'heroicons_mini:ellipsis-vertical'
                                                "
                                            ></mat-icon>
                                        </button>
                                        <mat-menu #featuresMenu="matMenu">
                                            <button mat-menu-item>
                                                Yesterday
                                            </button>
                                            <button mat-menu-item>
                                                2 days ago
                                            </button>
                                            <button mat-menu-item>
                                                3 days ago
                                            </button>
                                        </mat-menu>
                                    </div>
                                </div>
                                <div class="mt-2 flex flex-col items-center">
                                    <div
                                        class="text-7xl font-bold leading-none tracking-tight text-green-500 sm:text-8xl"
                                    >
                                        1547
                                    </div>
                                    <div
                                        class="text-lg font-medium text-green-600 dark:text-green-500"
                                    >
                                        clients
                                    </div>
                                    <div
                                        class="text-secondary mt-5 flex w-full items-baseline justify-center"
                                    >
                                    </div>
                                </div>
                            </div>
                            <!-- Github issues summary -->
                            <div
                                class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow sm:col-span-2 md:col-span-4"
                            >
                                <div
                                    class="flex flex-col items-start justify-between sm:flex-row"
                                >
                                    <div
                                        class="truncate text-lg font-medium leading-6 tracking-tight"
                                    >
                                        Github Issues Summary
                                    </div>
                                    <div class="mt-3 sm:ml-2 sm:mt-0">
                                        <mat-button-toggle-group
                                            value="this-week"
                                            #githubIssuesWeekSelector="matButtonToggleGroup"
                                        >
                                            <mat-button-toggle value="last-week"
                                                >Last Week</mat-button-toggle
                                            >
                                            <mat-button-toggle value="this-week"
                                                >This Week</mat-button-toggle
                                            >
                                        </mat-button-toggle-group>
                                    </div>
                                </div>
                                <div
                                    class="mt-8 grid w-full grid-flow-row grid-cols-1 gap-6 sm:mt-4 lg:grid-cols-2"
                                >
                                    <!-- New vs. Closed -->
                                    <div class="flex flex-auto flex-col">
                                        <div class="text-secondary font-medium">
                                            New vs. Closed
                                        </div>
                                        <div class="flex flex-auto flex-col">
                                            <apx-chart
                                                class="h-80 w-full flex-auto"
                                                [chart]="
                                                    chartGithubIssues.chart
                                                "
                                                [colors]="
                                                    chartGithubIssues.colors
                                                "
                                                [dataLabels]="
                                                    chartGithubIssues.dataLabels
                                                "
                                                [grid]="chartGithubIssues.grid"
                                                [labels]="
                                                    chartGithubIssues.labels
                                                "
                                                [legend]="
                                                    chartGithubIssues.legend
                                                "
                                                [plotOptions]="
                                                    chartGithubIssues.plotOptions
                                                "
                                                [series]="
                                                    chartGithubIssues.series[
                                                        githubIssuesWeekSelector
                                                            .value
                                                    ]
                                                "
                                                [states]="
                                                    chartGithubIssues.states
                                                "
                                                [stroke]="
                                                    chartGithubIssues.stroke
                                                "
                                                [tooltip]="
                                                    chartGithubIssues.tooltip
                                                "
                                                [xaxis]="
                                                    chartGithubIssues.xaxis
                                                "
                                                [yaxis]="
                                                    chartGithubIssues.yaxis
                                                "
                                            ></apx-chart>
                                        </div>
                                    </div>
                                    <!-- Overview -->
                                    <div class="flex flex-col">
                                        <div class="text-secondary font-medium">
                                            Overview
                                        </div>
                                        <div
                                            class="mt-6 grid flex-auto grid-cols-4 gap-4"
                                        >
                                            <!-- New issues -->
                                            <div
                                                class="col-span-2 flex flex-col items-center justify-center rounded-2xl bg-indigo-50 px-1 py-8 text-indigo-800 dark:bg-white dark:bg-opacity-5 dark:text-indigo-400"
                                            >
                                                <div
                                                    class="text-5xl font-semibold leading-none tracking-tight sm:text-7xl"
                                                >
                                                    {{
                                                        data.githubIssues
                                                            .overview[
                                                            githubIssuesWeekSelector
                                                                .value
                                                        ]['new-issues']
                                                    }}
                                                </div>
                                                <div
                                                    class="mt-1 text-sm font-medium sm:text-lg"
                                                >
                                                    New Issues
                                                </div>
                                            </div>
                                            <!-- Closed -->
                                            <div
                                                class="col-span-2 flex flex-col items-center justify-center rounded-2xl bg-green-50 px-1 py-8 text-green-800 dark:bg-white dark:bg-opacity-5 dark:text-green-500"
                                            >
                                                <div
                                                    class="text-5xl font-semibold leading-none tracking-tight sm:text-7xl"
                                                >
                                                    {{
                                                        data.githubIssues
                                                            .overview[
                                                            githubIssuesWeekSelector
                                                                .value
                                                        ]['closed-issues']
                                                    }}
                                                </div>
                                                <div
                                                    class="mt-1 text-sm font-medium sm:text-lg"
                                                >
                                                    Closed
                                                </div>
                                            </div>
                                            <!-- Fixed -->
                                            <div
                                                class="text-secondary col-span-2 flex flex-col items-center justify-center rounded-2xl bg-gray-100 px-1 py-8 dark:bg-white dark:bg-opacity-5 sm:col-span-1"
                                            >
                                                <div
                                                    class="text-5xl font-semibold leading-none tracking-tight"
                                                >
                                                    {{
                                                        data.githubIssues
                                                            .overview[
                                                            githubIssuesWeekSelector
                                                                .value
                                                        ]['fixed']
                                                    }}
                                                </div>
                                                <div
                                                    class="mt-1 text-center text-sm font-medium"
                                                >
                                                    Fixed
                                                </div>
                                            </div>
                                            <!-- Won't fix -->
                                            <div
                                                class="text-secondary col-span-2 flex flex-col items-center justify-center rounded-2xl bg-gray-100 px-1 py-8 dark:bg-white dark:bg-opacity-5 sm:col-span-1"
                                            >
                                                <div
                                                    class="text-5xl font-semibold leading-none tracking-tight"
                                                >
                                                    {{
                                                        data.githubIssues
                                                            .overview[
                                                            githubIssuesWeekSelector
                                                                .value
                                                        ]['wont-fix']
                                                    }}
                                                </div>
                                                <div
                                                    class="mt-1 text-center text-sm font-medium"
                                                >
                                                    Won't Fix
                                                </div>
                                            </div>
                                            <!-- Re-opened -->
                                            <div
                                                class="text-secondary col-span-2 flex flex-col items-center justify-center rounded-2xl bg-gray-100 px-1 py-8 dark:bg-white dark:bg-opacity-5 sm:col-span-1"
                                            >
                                                <div
                                                    class="text-5xl font-semibold leading-none tracking-tight"
                                                >
                                                    {{
                                                        data.githubIssues
                                                            .overview[
                                                            githubIssuesWeekSelector
                                                                .value
                                                        ]['re-opened']
                                                    }}
                                                </div>
                                                <div
                                                    class="mt-1 text-center text-sm font-medium"
                                                >
                                                    Re-opened
                                                </div>
                                            </div>
                                            <!-- Needs triage -->
                                            <div
                                                class="text-secondary col-span-2 flex flex-col items-center justify-center rounded-2xl bg-gray-100 px-1 py-8 dark:bg-white dark:bg-opacity-5 sm:col-span-1"
                                            >
                                                <div
                                                    class="text-5xl font-semibold leading-none tracking-tight"
                                                >
                                                    {{
                                                        data.githubIssues
                                                            .overview[
                                                            githubIssuesWeekSelector
                                                                .value
                                                        ]['needs-triage']
                                                    }}
                                                </div>
                                                <div
                                                    class="mt-1 text-center text-sm font-medium"
                                                >
                                                    Needs Triage
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Task distribution -->
                            <div
                                class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow sm:col-span-2 md:col-span-4 lg:col-span-2"
                            >
                                <div
                                    class="flex flex-col items-start justify-between sm:flex-row"
                                >
                                    <div
                                        class="truncate text-lg font-medium leading-6 tracking-tight"
                                    >
                                        Task Distribution
                                    </div>
                                    <div class="mt-3 sm:ml-2 sm:mt-0">
                                        <mat-button-toggle-group
                                            value="this-week"
                                            #taskDistributionWeekSelector="matButtonToggleGroup"
                                        >
                                            <mat-button-toggle value="last-week"
                                                >Last Week</mat-button-toggle
                                            >
                                            <mat-button-toggle value="this-week"
                                                >This Week</mat-button-toggle
                                            >
                                        </mat-button-toggle-group>
                                    </div>
                                </div>
                                <div class="mt-6 flex flex-auto flex-col">
                                    <apx-chart
                                        class="h-80 w-full flex-auto"
                                        [chart]="chartTaskDistribution.chart"
                                        [labels]="chartTaskDistribution.labels"
                                        [legend]="chartTaskDistribution.legend"
                                        [plotOptions]="
                                            chartTaskDistribution.plotOptions
                                        "
                                        [series]="
                                            chartTaskDistribution.series[
                                                taskDistributionWeekSelector
                                                    .value
                                            ]
                                        "
                                        [states]="chartTaskDistribution.states"
                                        [stroke]="chartTaskDistribution.stroke"
                                        [theme]="chartTaskDistribution.theme"
                                        [tooltip]="
                                            chartTaskDistribution.tooltip
                                        "
                                        [yaxis]="chartTaskDistribution.yaxis"
                                    ></apx-chart>
                                </div>
                                <div
                                    class="-m-6 mt-4 grid grid-cols-2 divide-x border-t bg-gray-50 dark:bg-transparent"
                                >
                                    <div
                                        class="flex flex-col items-center justify-center p-6 sm:p-8"
                                    >
                                        <div
                                            class="text-5xl font-semibold leading-none tracking-tighter"
                                        >
                                            {{
                                                data.taskDistribution.overview[
                                                    taskDistributionWeekSelector
                                                        .value
                                                ]['new']
                                            }}
                                        </div>
                                        <div
                                            class="text-secondary mt-1 text-center"
                                        >
                                            New tasks
                                        </div>
                                    </div>
                                    <div
                                        class="flex flex-col items-center justify-center p-6 sm:p-8"
                                    >
                                        <div
                                            class="text-5xl font-semibold leading-none tracking-tighter"
                                        >
                                            {{
                                                data.taskDistribution.overview[
                                                    taskDistributionWeekSelector
                                                        .value
                                                ]['completed']
                                            }}
                                        </div>
                                        <div
                                            class="text-secondary mt-1 text-center"
                                        >
                                            Completed tasks
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Schedule -->
                            <div
                                class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow sm:col-span-2 md:col-span-4 lg:col-span-2"
                            >
                                <div
                                    class="flex flex-col items-start justify-between sm:flex-row"
                                >
                                    <div
                                        class="truncate text-lg font-medium leading-6 tracking-tight"
                                    >
                                        Schedule
                                    </div>
                                    <div class="mt-3 sm:ml-2 sm:mt-0">
                                        <mat-button-toggle-group
                                            value="today"
                                            #scheduleDaySelector="matButtonToggleGroup"
                                        >
                                            <mat-button-toggle value="today"
                                                >Today</mat-button-toggle
                                            >
                                            <mat-button-toggle value="tomorrow"
                                                >Tomorrow</mat-button-toggle
                                            >
                                        </mat-button-toggle-group>
                                    </div>
                                </div>
                                <div class="mt-2 flex flex-col divide-y">
                                    @for (
                                        scheduleItem of data.schedule[
                                            scheduleDaySelector.value
                                        ];
                                        track trackByFn($index, scheduleItem)
                                    ) {
                                        <div
                                            class="flex flex-row items-center justify-between px-0.5 py-4"
                                        >
                                            <div class="flex flex-col">
                                                <div class="font-medium">
                                                    {{ scheduleItem.title }}
                                                </div>
                                                <div
                                                    class="-ml-0.5 mt-2 flex flex-col space-y-1 sm:mt-1 sm:flex-row sm:items-center sm:space-x-3 sm:space-y-0"
                                                >
                                                    @if (scheduleItem.time) {
                                                        <div
                                                            class="flex items-center"
                                                        >
                                                            <mat-icon
                                                                class="text-hint icon-size-5"
                                                                [svgIcon]="
                                                                    'heroicons_solid:clock'
                                                                "
                                                            ></mat-icon>
                                                            <div
                                                                class="text-secondary ml-1.5 text-md"
                                                            >
                                                                {{
                                                                    scheduleItem.time
                                                                }}
                                                            </div>
                                                        </div>
                                                    }
                                                    @if (
                                                        scheduleItem.location
                                                    ) {
                                                        <div
                                                            class="flex items-center"
                                                        >
                                                            <mat-icon
                                                                class="text-hint icon-size-5"
                                                                [svgIcon]="
                                                                    'heroicons_solid:map-pin'
                                                                "
                                                            ></mat-icon>
                                                            <div
                                                                class="text-secondary ml-1.5 text-md"
                                                            >
                                                                {{
                                                                    scheduleItem.location
                                                                }}
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                            <button mat-icon-button>
                                                <mat-icon
                                                    [svgIcon]="
                                                        'heroicons_mini:chevron-right'
                                                    "
                                                ></mat-icon>
                                            </button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>

                <!-- Budget -->


                <!-- Team -->
                <!--TODO ADD BACK TEAM-->
            </mat-tab-group>
        </div>
    </div>
</div>
