<div class="absolute inset-0 min-w-0 overflow-auto text-center print:overflow-visible" cdkScrollable>
    <!-- Main -->
    <div class="inline-block p-6 text-left sm:p-10 print:p-0">
        <!-- Invoice -->
        <div
            class="bg-card w-240 min-w-240 rounded-2xl p-16 shadow print:w-auto print:rounded-none print:bg-transparent print:p-0 print:shadow-none">
            <div class="flex items-start">
                <div class="grid place-items-start gap-y-12">
                    <div class="grid auto-cols-max grid-flow-col gap-x-8">
                        <div class="ml-auto text-left">
                            <div class="text-lg" style="color: #bc1d10; font-size: 1.5em">
                                <span style="font-size: 0.9em" class="font-bold">STÉ</span>
                                <span class="font-bold"> MOHAMED GHARIANI</span>
                            </div>
                            <div class="text-lg" style="color: #2c2e35">
                                <span style="font-size: 0.8em" class="font-bold">Vente Pièces Electronique Autos En
                                    Gros</span>
                            </div>
                            <div class="text-lg" style="color: #bc1d10">
                                <span style="font-size: 0.8em" class="font-bold">SARL au capital de 500.000
                                    Dinars</span>
                            </div>
                            <div class="text-lg" style="color: #2c2e35">
                                <span style="font-size: 0.8em" class="font-medium">RUE AHMED ESSIKILLI IMM. ANBRA NUM
                                    3</span>
                            </div>
                            <div class="text-lg" style="color: #2c2e35">
                                <span style="font-size: 0.8em" class="font-medium">3027 - SFAX - TUNISIE</span>
                            </div>
                            <div class="text-lg" style="color: #2c2e35">
                                <span style="font-size: 0.8em" class="font-bold">Tél.: +216 74 403 884</span>
                            </div>
                            <div class="text-lg" style="color: #2c2e35">
                                <span style="font-size: 0.8em; margin-left: 12%" class="font-bold">+216 74 403
                                    881</span>
                            </div>
                            <div class="text-lg" style="color: #2c2e35">
                                <span style="font-size: 0.8em; margin-left: 12%" class="font-bold">+216 74 408
                                    822</span>
                            </div>
                            <div class="text-lg" style="color: #2c2e35">
                                <span style="font-size: 0.8em" class="font-bold">Fax: +216 74 408 355</span>
                            </div>
                            <div class="text-lg" style="color: #2c2e35">
                                <span style="font-size: 0.8em" class="font-bold">Email:
                                    ste.ghariani-med&#64;ghariani.tn</span>
                            </div>
                            <div class="text-lg" style="color: #bc1d10">
                                <span style="font-size: 0.8em" class="font-bold">TVA: 73 6548 X/A/M 001</span>
                            </div>
                            <div class="text-lg" style="color: #bc1d10">
                                <span style="font-size: 0.8em" class="font-bold">R.C: B11 6572000</span>
                            </div>
                            <br />
                            <div class="text-lg" style="color: #2c2e35">
                                <span class="font-bold">Client: </span>
                            </div>
                            <div class="text-lg" style="color: #2c2e35">
                                <span style="font-size: 0.8em" class="font-medium">{{ details.client.nom }}</span>
                            </div>
                            <div class="text-lg" style="color: #2c2e35">
                                <span style="font-size: 0.8em" class="font-medium">{{ details.client.adresse }}</span>
                            </div>
                            <div class="text-lg" style="color: #2c2e35">
                                <span style="font-size: 0.8em" class="font-medium">{{ details.piedFact.tvaclt }}</span>
                            </div>
                            <div class="text-lg" style="color: #2c2e35">
                                <span style="font-size: 0.8em" class="font-medium">{{ details.piedFact.patclt }}</span>
                            </div>
                        </div>
                        <div class="place-self-middle w-40">
                            <img class="w-full" src="images/logo/invoice_logo.JPG"
                                style="margin-left: 20%; margin-top: 50%" />
                        </div>
                    </div>
                </div>
                <div class="ml-auto grid gap-x-4 gap-y-1">
                    <div class="justify-self-end text-lg" style="color: #bc1d10; font-size: 1.5em">
                        <span class="font-bold">ﺷﺮﻛﺔ ﻣﺤﻤﺪ ﺍﻟﻐﺮﻳــﺎﻧـﻲ</span>
                    </div>
                    <div class="justify-self-end text-lg" style="color: #2c2e35">
                        <span style="font-size: 0.8em" class="font-bold">ﺑﻴﻊ ﺟﻤﻴﻊ ﺍﻟﻘﻄﻊ ﺍﻟﻜﻬﺮﺑﺎﺋﻴﺔ ﻟﻠﺴﻴﺎﺭﺍﺕ
                            ﺑﺎﻟﺠﻤﻠﺔ</span>
                    </div>
                    <div class="justify-self-end text-lg" style="color: #bc1d10">
                        <span style="font-size: 0.8em" class="font-bold">ﺵ.ﺫ.ﻡ.ﻡ ﺭﺃﺱ ﻣﺎﻟﻬﺎ 500.000 ﺩﻳﻨﺎﺭ</span>
                    </div>
                    <div class="justify-self-end text-lg" style="color: #2c2e35">
                        <span style="font-size: 0.8em" class="font-medium">3 ﻋﺪد ﻣﻐﺎزة ﻋﻨﺒﺮة ﻋﻤﺎرة اﻟﺴﻘﻠﻲ أﺣﻤﺪ
                            ﻧﻬﺞ</span>
                    </div>
                    <div class="justify-self-end text-lg" style="color: #2c2e35">
                        <span style="font-size: 0.8em" class="font-medium">ﺻﻔﺎﻗﺲ - ﺗﻮﻧﺲ 3027</span>
                    </div>
                    <div class="justify-self-end text-lg" style="color: #2c2e35">
                        <span style="font-size: 0.8em" class="font-bold">
                            +216 74 403 884
                        </span>
                        <span style="font-size: 0.8em" class="font-bold">
                            :
                        </span>
                        <span style="font-size: 0.8em" class="font-bold">
                            ﺍﻟﻬﺎﺗﻒ</span>
                    </div>
                    <div class="text-lg" style="color: #2c2e35">
                        <span style="font-size: 0.8em; margin-left: 48%" class="font-bold">+216 74 403 881</span>
                    </div>
                    <div class="text-lg" style="color: #2c2e35">
                        <span style="font-size: 0.8em; margin-left: 48%" class="font-bold">+216 74 408 822</span>
                    </div>
                    <div class="justify-self-end text-lg" style="color: #2c2e35">
                        <span style="font-size: 0.8em" class="font-bold">
                            +216 74 408 355
                        </span>
                        <span style="font-size: 0.8em" class="font-bold">
                            :
                        </span>
                        <span style="font-size: 0.8em" class="font-bold">
                            ﺍﻟﻔﺎﻛﺲ</span>
                    </div>
                    <div class="justify-self-end text-lg" style="color: #2c2e35">
                        <span style="font-size: 0.8em" class="font-bold">
                            ste.ghariani-med&#64;ghariani.tn
                        </span>
                        <span style="font-size: 0.8em" class="font-bold">
                            :
                        </span>
                        <span style="font-size: 0.8em" class="font-bold">
                            ﺍﻟﺒﺮﻳﺪ ﺍﻻﻟﻜﺘﺮﻭﻧﻲ</span>
                    </div>
                    <div class="justify-self-end text-lg" style="color: #2c2e35; margin-top: 10%">
                        <span class="font-bold">Facture N° {{ details.piedFact.nfact }}</span>
                    </div>
                    <div class="justify-self-end text-lg" style="color: #2c2e35; margin-top: 5%">
                        <span style="font-size: 0.8em" class="font-bold">LE {{ details.piedFact.datvte }}</span>
                    </div>
                </div>
            </div>
            <div class="mt-16 grid grid-cols-12 gap-x-1">
                <!-- Columns -->
                <div class="col-span-12">
                    <div class="mb-4 grid grid-cols-7 gap-4">
                        <div class="text-secondary text-md font-medium">
                            Référence
                        </div>
                        <div class="text-secondary text-right text-md font-medium">
                            DESIGNATION
                        </div>
                        <div class="text-secondary text-right text-md font-medium">
                            QTE
                        </div>
                        <div class="text-secondary text-right text-md font-medium">
                            P.H.T
                        </div>
                        <div class="text-secondary text-right text-md font-medium">
                            REM
                        </div>
                        <div class="text-secondary text-right text-md font-medium">
                            TVA
                        </div>
                        <div class="text-secondary text-right text-md font-medium">
                            Montant H.T
                        </div>
                    </div>
                </div>

                <!-- Divider -->
                <div class="col-span-12 my-4 border-b"></div>

                <!-- Items -->

                <div class="col-span-12" *ngFor="let group of groupedVentes">
                    <!-- BON Header -->
                    <div class="mb-4">
                        <h3 class="text-lg font-bold">BON N°&nbsp;&nbsp;&nbsp;&nbsp;{{ group.nbon
                            }}&nbsp;&nbsp;&nbsp;&nbsp; DU &nbsp;&nbsp;&nbsp;&nbsp;{{ group.datvte }}</h3>
                    </div>
                    <!-- Divider -->
                    <div class="col-span-12 my-4 border-b"></div>

                    <div *ngFor="let vente of group.ventes" class="mb-4">
                        <div class="mb-4 grid grid-cols-7 gap-4">
                            <div class="text-lg font-medium">
                                {{ vente.reference }}
                            </div>
                            <div class="self-center text-right">
                                {{ vente.instance }}
                            </div>
                            <div class="self-center text-right">
                                {{ vente.qte }}
                            </div>
                            <div class="self-center text-right">
                                {{ convertStringToDecimal(vente.pvht) }}
                            </div>
                            <div class="self-center text-right">
                                {{ vente.remise }}
                            </div>
                            <div class="self-center text-right">
                                {{ vente.tva }}
                            </div>
                            <div class="self-center text-right">
                                {{
                                getMontantHT(
                                convertStringToDecimal(vente.pvht),
                                vente.qte,
                                vente.remise
                                )
                                }}
                            </div>
                        </div>
                        <!-- Divider -->
                        <div class="col-span-12 my-4 border-b"></div>
                    </div>
                </div>

                <!-- Spacer -->
                <div class="col-span-12 mt-16"></div>

                <!-- Subtotal -->
                <div class="text-secondary col-span-10 self-center font-medium tracking-tight">
                    MONTANT HT
                </div>
                <div class="col-span-2 text-right text-lg">
                    {{ convertStringToDecimal(details.piedFact.brutht) }} TND
                </div>

                <!-- Divider -->
                <div class="col-span-12 my-3 border-b"></div>

                <!-- Tax -->
                <div class="text-secondary col-span-10 self-center font-medium tracking-tight">
                    REMISE
                </div>
                <div class="col-span-2 text-right text-lg">
                    {{ convertStringToDecimal(details.piedFact.totrem) }} TND
                </div>

                <!-- Divider -->
                <div class="col-span-12 my-3 border-b"></div>

                <!-- Discount -->
                <div class="text-secondary col-span-10 self-center font-medium tracking-tight">
                    BASE TVA 6
                </div>
                <div class="col-span-2 text-right text-lg">
                    {{ convertStringToDecimal(details.piedFact.btva6) }}
                </div>

                <!-- Divider -->
                <div class="col-span-12 my-3 border-b"></div>

                <!-- Discount -->
                <div class="text-secondary col-span-10 self-center font-medium tracking-tight">
                    MONTANT TVA 6
                </div>
                <div class="col-span-2 text-right text-lg">
                    {{ convertStringToDecimal(details.piedFact.mtva6) }} TND
                </div>

                <!-- Divider -->
                <div class="col-span-12 my-3 border-b"></div>

                <!-- Discount -->
                <div class="text-secondary col-span-10 self-center font-medium tracking-tight">
                    BASE TVA 18
                </div>
                <div class="col-span-2 text-right text-lg">
                    {{ convertStringToDecimal(details.piedFact.btva18) }} TND
                </div>

                <!-- Divider -->
                <div class="col-span-12 my-3 border-b"></div>

                <!-- Discount -->
                <div class="text-secondary col-span-10 self-center font-medium tracking-tight">
                    MONTANT TVA 18
                </div>
                <div class="col-span-2 text-right text-lg">
                    {{ convertStringToDecimal(details.piedFact.mtva18) }} TND
                </div>

                <!-- Divider -->
                <div class="col-span-12 my-3 border-b"></div>

                <!-- Discount -->
                <div class="text-secondary col-span-10 self-center font-medium tracking-tight">
                    TOTAL TVA
                </div>
                <div class="col-span-2 text-right text-lg">
                    {{ convertStringToDecimal(details.piedFact.tottva) }} TND
                </div>

                <!-- Divider -->
                <div class="col-span-12 my-3 border-b"></div>

                <!-- Discount -->
                <div class="text-secondary col-span-10 self-center font-medium tracking-tight">
                    TIMBRE
                </div>
                <div class="col-span-2 text-right text-lg">
                    {{ details.piedFact.timbre }}
                </div>

                <!-- Divider -->
                <div class="col-span-12 my-3 border-b"></div>

                <!-- Total -->
                <div class="text-secondary col-span-10 self-center text-2xl font-medium tracking-tight">
                    TOTAL TTC
                </div>
                <div class="col-span-2 text-right text-2xl font-medium">
                    {{ convertStringToDecimal(details.piedFact.totttc) }} TND
                </div>
            </div>

            <div class="mt-16">
                <div class="font-medium">
                    Please pay within 15 days. Thank you for your business.
                </div>
                <div class="mt-4 flex items-start">
                    <img class="mt-2 w-10 flex-0" src="images/logo/invoice_logo.JPG" />
                    <div class="text-secondary ml-6 text-sm">
                        In condimentum malesuada efficitur. Mauris volutpat
                        placerat auctor. Ut ac congue dolor. Quisque scelerisque
                        lacus sed feugiat fermentum. Cras aliquet facilisis
                        pellentesque. Nunc hendrerit quam at leo commodo, a
                        suscipit tellus dapibus. Etiam at felis volutpat est
                        mollis lacinia. Mauris placerat sem sit amet velit
                        mollis, in porttitor ex finibus. Proin eu nibh id libero
                        tincidunt lacinia et eget.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>