<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
    <mat-drawer-container
        class="bg-card h-full flex-auto dark:bg-transparent"
        (backdropClick)="onBackdropClicked()"
    >
        <!-- Drawer -->
        <mat-drawer
            class="w-full dark:bg-gray-900 md:w-160"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer
        >
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">
            <!-- Main -->
            <div class="flex-auto">
                <!-- Header -->
                <div
                    class="flex flex-auto flex-col justify-between border-b px-6 py-8 sm:flex-row md:flex-col md:px-8"
                >
                    <!-- Title -->
                    <div>
                        <div
                            class="text-4xl font-extrabold leading-none tracking-tight"
                        >
                            Clients
                        </div>
                        <div class="text-secondary ml-0.5 font-medium">
                            @if (contactsCount > 0) {
                                {{ contactsCount }}
                            }
                            {{
                                contactsCount
                                    | i18nPlural
                                        : {
                                              '=0': 'pas de clients',
                                              '=1': 'client',
                                              other: 'clients',
                                          }
                            }}
                        </div>
                    </div>

                    <!-- Main actions -->
                    <div class="mt-4 flex items-center sm:mt-0 md:mt-4">
                        <!-- Search -->
                        <div class="flex-auto">
                            <mat-form-field
                                class="fuse-mat-dense fuse-mat-rounded w-full min-w-50"
                                subscriptSizing="dynamic"
                            >
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="
                                        'heroicons_solid:magnifying-glass'
                                    "
                                ></mat-icon>
                                <input
                                    matInput
                                    [formControl]="searchInputControl"
                                    [autocomplete]="'off'"
                                    [placeholder]="'Rechercher des clients'"
                                />
                            </mat-form-field>
                        </div>
                        <!-- Add contact button -->
                        <button
                            class="ml-4"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="createContact()"
                        >
                            <mat-icon
                                [svgIcon]="'heroicons_outline:plus'"
                            ></mat-icon>
                            <span class="ml-2 mr-1">Ajouter</span>
                        </button>
                    </div>
                </div>

                <!-- Contacts list -->
                <div class="relative">
                    @if (contacts$ | async; as contacts) {
                        @if (contacts.length) {
                            @for (
                                contact of contacts;
                                track trackByFn(i, contact);
                                let i = $index
                            ) {
                                <!-- if contact doesnt have a name, dont show him-->
                                @if (contact.nom) {
                                <!-- Group -->
                                @if (
                                    i === 0 ||
                                    contact.nom.charAt(0) !==
                                        contacts[i - 1].nom.charAt(0)
                                ) {
                                    <div
                                        class="text-secondary sticky top-0 z-10 -mt-px border-b border-t bg-gray-50 px-6 py-1 font-medium uppercase dark:bg-gray-900 md:px-8"
                                    >
                                        {{ contact.nom.charAt(0) }}
                                    </div>
                                }
                                <!-- Contact -->
                                <a
                                    class="z-20 flex cursor-pointer items-center border-b px-6 py-4 md:px-8"
                                    [ngClass]="{
                                        'dark:hover:bg-hover hover:bg-gray-100':
                                            !selectedContact ||
                                            selectedContact.id !== contact.id,
                                        'bg-primary-50 dark:bg-hover':
                                            selectedContact &&
                                            selectedContact.id === contact.id,
                                    }"
                                    [routerLink]="['./', contact.id]"
                                >
                                    <div
                                        class="flex h-10 w-10 flex-0 items-center justify-center overflow-hidden rounded-full"
                                    >
                                        @if (contact.avatar) {
                                            <img
                                                class="h-full w-full object-cover"
                                                [src]="contact.avatar"
                                                alt="Contact avatar"
                                            />
                                        }
                                        @if (!contact.avatar) {
                                            <div
                                                class="flex h-full w-full items-center justify-center rounded-full bg-gray-200 text-lg uppercase text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                            >
                                                {{ contact.nom.charAt(0) }}
                                            </div>
                                        }
                                    </div>
                                    <div class="ml-4 min-w-0">
                                        <div
                                            class="truncate font-medium leading-5"
                                        >
                                            {{ contact.nom }}
                                        </div>
                                        <div
                                            class="text-secondary truncate leading-5"
                                        >
                                            {{ contact.adresse }}
                                        </div>
                                    </div>
                                </a>
                            }
                            }
                        } @else {
                            <div
                                class="border-t p-8 text-center text-4xl font-semibold tracking-tight sm:p-16"
                            >
                                Il n'y a pas de clients !
                            </div>
                        }
                    }

                    <!-- No contacts -->
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
