<div class="flex w-full flex-auto flex-col">
    <div class="mx-auto flex w-full max-w-screen-xl flex-wrap p-6 md:p-8">
        <!-- Title and action buttons -->
        <div class="flex w-full items-center justify-between">
            <div class="grid w-full min-w-0 grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-4">
                <!-- Summary -->
                <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow">
                    <div class="flex items-start justify-between">
                        <div class="truncate text-lg font-medium leading-6 tracking-tight">
                            Solde
                        </div>
                        <!-- <div class="-mr-3 -mt-2 ml-2">
                            <button mat-icon-button [matMenuTriggerFor]="summaryMenu">
                                <mat-icon class="icon-size-5" [svgIcon]="
                                    'heroicons_mini:ellipsis-vertical'
                                "></mat-icon>
                            </button>
                            <mat-menu #summaryMenu="matMenu">
                                <button mat-menu-item>
                                    Yesterday
                                </button>
                                <button mat-menu-item>
                                    2 days ago
                                </button>
                                <button mat-menu-item>
                                    3 days ago
                                </button>
                            </mat-menu>
                        </div> -->
                    </div>
                    <div class="mt-2 flex flex-col items-center">
                        <div class="text-7xl font-bold leading-none tracking-tight text-blue-500 sm:text-8xl">
                            {{solde}}
                        </div>
                        <div class="text-lg font-medium text-blue-600 dark:text-blue-500">
                            TND
                        </div>
                    </div>
                </div>
                <!-- Overdue -->
                <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow">
                    <div class="flex items-start justify-between">
                        <div class="truncate text-lg font-medium leading-6 tracking-tight">
                            Commandes en cours
                        </div>
                        <!-- <div class="-mr-3 -mt-2 ml-2">
                            <button mat-icon-button [matMenuTriggerFor]="overdueMenu">
                                <mat-icon class="icon-size-5" [svgIcon]="
                                    'heroicons_mini:ellipsis-vertical'
                                "></mat-icon>
                            </button>
                            <mat-menu #overdueMenu="matMenu">
                                <button mat-menu-item>
                                    Yesterday
                                </button>
                                <button mat-menu-item>
                                    2 days ago
                                </button>
                                <button mat-menu-item>
                                    3 days ago
                                </button>
                            </mat-menu>
                        </div> -->
                    </div>
                    <div class="mt-2 flex flex-col items-center">
                        <div class="text-7xl font-bold leading-none tracking-tight text-red-500 sm:text-8xl">
                            {{commandeCount}}
                        </div>
                        <div class="text-lg font-medium text-red-600 dark:text-red-500">
                            Commandes
                        </div>
                    </div>
                </div>
                <!-- Issues -->
                <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow">
                    <div class="flex items-start justify-between">
                        <div class="truncate text-lg font-medium leading-6 tracking-tight">
                            Prochaine échance
                        </div>
                        <!-- <div class="-mr-3 -mt-2 ml-2">
                            <button mat-icon-button [matMenuTriggerFor]="issuesMenu">
                                <mat-icon class="icon-size-5" [svgIcon]="
                                    'heroicons_mini:ellipsis-vertical'
                                "></mat-icon>
                            </button>
                            <mat-menu #issuesMenu="matMenu">
                                <button mat-menu-item>
                                    Yesterday
                                </button>
                                <button mat-menu-item>
                                    2 days ago
                                </button>
                                <button mat-menu-item>
                                    3 days ago
                                </button>
                            </mat-menu>
                        </div> -->
                    </div>
                    <div class="mt-2 flex flex-col items-center">
                        <div class="text-7xl font-bold leading-none tracking-tight text-amber-500 sm:text-8xl">
                            24
                        </div>
                    </div>
                </div>
                <!-- Features -->
                <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow">
                    <div class="flex items-start justify-between">
                        <div class="truncate text-lg font-medium leading-6 tracking-tight">
                            Plus de
                        </div>
                        <!-- <div class="-mr-3 -mt-2 ml-2">
                            <button mat-icon-button [matMenuTriggerFor]="featuresMenu">
                                <mat-icon class="icon-size-5" [svgIcon]="
                                    'heroicons_mini:ellipsis-vertical'
                                "></mat-icon>
                            </button>
                            <mat-menu #featuresMenu="matMenu">
                                <button mat-menu-item>
                                    Yesterday
                                </button>
                                <button mat-menu-item>
                                    2 days ago
                                </button>
                                <button mat-menu-item>
                                    3 days ago
                                </button>
                            </mat-menu>
                        </div> -->
                    </div>
                    <div class="mt-2 flex flex-col items-center">
                        <div class="text-7xl font-bold leading-none tracking-tight text-green-500 sm:text-8xl">
                            1547
                        </div>
                        <div class="text-lg font-medium text-green-600 dark:text-green-500">
                            clients
                        </div>
                        <div class="text-secondary mt-5 flex w-full items-baseline justify-center">
                        </div>
                    </div>
                </div>

                <div>
                    <h2 class="text-3xl font-semibold leading-8 tracking-tight">
                        Liste des commandes
                    </h2>
                    <div class="text-secondary font-medium tracking-tight">
                        Consulter vos commandes
                    </div>
                </div>

            </div>
        </div>



        <div class="mt-6 w-full">
            <mat-tab-group (selectedTabChange)="onTabChange($event)" [selectedIndex]="selectedTabIndex">
                <mat-tab label="Commandes">
                    <!-- Content for Commandes tab -->
                </mat-tab>
                <mat-tab label="Bons de livraison">
                    <!-- Content for Bons de livraison tab -->
                </mat-tab>
            </mat-tab-group>
        </div>

        <div class="mt-8 grid w-full grid-cols-1 gap-8 xl:grid-cols-3">
            <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl shadow xl:col-span-12">
                <div class="mx-6 overflow-x-auto">
                    <table class="w-full bg-transparent" mat-table matSort [dataSource]="commandesDataSource"
                        [trackBy]="trackByFn" #commandesTable>
                        <!-- Commande ID -->
                        <ng-container matColumnDef="id">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                N°
                            </th>
                            <td mat-cell *matCellDef="let commande">
                                <span class="text-secondary whitespace-nowrap pr-6 text-sm font-medium">
                                    {{ commande.id }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Date -->
                        <ng-container matColumnDef="commandeDate">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Date
                            </th>
                            <td mat-cell *matCellDef="let commande">
                                <span class="whitespace-nowrap pr-6">
                                    @if(!isVentes){
                                    {{ commande.commandeDate | date: 'dd/MM/yyyy' }}
                                    }@else {
                                    {{commande.commandeDate}}
                                    }
                                </span>
                            </td>
                        </ng-container>

                        <!-- Amount -->
                        <ng-container matColumnDef="total">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Total
                            </th>
                            <td mat-cell *matCellDef="let commande">
                                <span class="whitespace-nowrap pr-6 font-medium">
                                    @if(!isVentes){
                                    {{commande.total.toFixed(3) }} TND
                                    }@else {
                                    {{convertStringToDecimal(commande.total) }} TND
                                    }
                                </span>
                            </td>
                        </ng-container>

                        <!-- Status -->
                        <ng-container matColumnDef="status">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                Etat
                            </th>
                            <td mat-cell *matCellDef="let commande">
                                <span
                                    class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-bold uppercase tracking-wide bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50">
                                    <span class="whitespace-nowrap leading-relaxed"> {{commande.status}} </span>
                                </span>
                            </td>
                        </ng-container>

                        <!--pdf button-->
                        <ng-container matColumnDef="pdf">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                            </th>
                            <td mat-cell *matCellDef="let commande">
                                <button mat-icon-button (click)="openPdf(commande.id)">
                                    <mat-icon>picture_as_pdf</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <!-- Footer -->
                        <ng-container matColumnDef="recentOrdersTableFooter">
                            <td class="border-0 px-0 py-6" mat-footer-cell *matFooterCellDef colspan="6">
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="commandesTableColumns"></tr>
                        <tr class="order-row h-16" mat-row *matRowDef="
                                let row;
                                columns: commandesTableColumns
                            "></tr>
                        <tr class="h-16 border-0" mat-footer-row *matFooterRowDef="['recentOrdersTableFooter']"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons
                        aria-label="Selectionnez la page de la liste des commandes"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>