<div class="flex w-full flex-auto flex-col">
    <div class="mx-auto flex w-full max-w-screen-xl flex-wrap p-6 md:p-8">
        <!-- Title and action buttons -->
        <div class="flex w-full items-center justify-between">
            <div>
                <h2 class="text-3xl font-semibold leading-8 tracking-tight">
                    Liste des commandes
                </h2>
                <div class="text-secondary font-medium tracking-tight">
                    Consulter vos commandes
                </div>
            </div>
        </div>

        <div class="mt-8 grid w-full grid-cols-1 gap-8 xl:grid-cols-2">
            <div class="grid gap-8 sm:grid-flow-col xl:grid-flow-row">
            </div>
        </div>

        <div class="mt-8 grid w-full grid-cols-1 gap-8 xl:grid-cols-3">
            <!-- Commandes table -->
            <div
                class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl shadow xl:col-span-12"
            >
                <div class="mx-6 overflow-x-auto">
                    <table
                        class="w-full bg-transparent"
                        mat-table
                        matSort
                        [dataSource]="commandesDataSource"
                        [trackBy]="trackByFn"
                        #commandesTable
                    >
                        <!-- Commande ID -->
                        <ng-container matColumnDef="id">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                                N° Commande
                            </th>
                            <td mat-cell *matCellDef="let commande">
                                <span
                                    class="text-secondary whitespace-nowrap pr-6 text-sm font-medium"
                                >
                                    {{ commande.id }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Date -->
                        <ng-container matColumnDef="commandeDate">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                                Date
                            </th>
                            <td mat-cell *matCellDef="let commande">
                                <span class="whitespace-nowrap pr-6">
                                    {{ commande.commandeDate | date: 'dd/MM/yyyy' }}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Amount -->
                        <ng-container matColumnDef="total">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                                Total
                            </th>
                            <td mat-cell *matCellDef="let commande">
                                <span
                                    class="whitespace-nowrap pr-6 font-medium"
                                >
                                    {{commande.total.toFixed(3) }} TND
                                </span>
                            </td>
                        </ng-container>

                         <!-- Status -->
                         <ng-container matColumnDef="status">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                                Etat
                            </th>
                            <td mat-cell *matCellDef="let commande">
                                <span
                                    class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-bold uppercase tracking-wide bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50"
                                >
                                    <span
                                        class="whitespace-nowrap leading-relaxed"
                                        > {{commande.status}} </span
                                    >
                                </span>
                            </td>
                        </ng-container>

                        <!--pdf button-->
                        <ng-container matColumnDef="pdf">
                            <th
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef
                            >
                            </th>
                            <td mat-cell *matCellDef="let commande">
                                <button
                                    mat-icon-button
                                    (click)="openPdf(commande.id)"
                                >
                                    <mat-icon>picture_as_pdf</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <!-- Footer -->
                        <ng-container matColumnDef="recentOrdersTableFooter">
                            <td
                                class="border-0 px-0 py-6"
                                mat-footer-cell
                                *matFooterCellDef
                                colspan="6"
                            >
                            </td>
                        </ng-container>

                        <tr
                            mat-header-row
                            *matHeaderRowDef="commandesTableColumns"
                        ></tr>
                        <tr
                            class="order-row h-16"
                            mat-row
                            *matRowDef="
                                let row;
                                columns: commandesTableColumns
                            "
                        ></tr>
                        <tr
                            class="h-16 border-0"
                            mat-footer-row
                            *matFooterRowDef="['recentOrdersTableFooter']"
                        ></tr>
                    </table>
                    <mat-paginator
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        showFirstLastButtons
                        aria-label="Selectionnez la page de la liste des commandes"
                    ></mat-paginator>
                </div>
            </div>

        </div>
    </div>
</div>
